<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="task" style="task" id="image-delete" xml:lang="fr">

  <info>
    <link type="guide" xref="index#image"/>
    <revision pkgversion="2.1.9" date="2013-06-02" status="candidate"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <desc>Supprimer une image dans une étiquette</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Julien Hardelin</mal:name>
      <mal:email>jhardlin@orange.fr</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Alexandre Franke</mal:name>
      <mal:email>alexandre.franke@gmail.com</mal:email>
      <mal:years>2015</mal:years>
    </mal:credit>
  </info>

  <title>Suppression d'une image</title>

  <p>Pour supprimer l'image d'une étiquette, sélectionnez-la et cliquez sur le bouton <gui style="button">Supprimer les images sélectionnées de l'étiquette</gui>.</p>

  <p>Pour supprimer plusieurs images, sélectionnez-les avant de les supprimer.</p>

  <p>Il est également possible de supprimer toutes les images de plusieurs fichiers. Pour cela, sélectionnez les fichiers dont vous voulez supprimer les images, supprimez toutes les images de l'onglet <gui style="tab">Image</gui> et cliquez sur le bouton <gui style="button">Étiqueter les fichiers sélectionnés avec ces images</gui>.</p>

</page>
