<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="task" style="task" id="image-delete" xml:lang="hu">

  <info>
    <link type="guide" xref="index#image"/>
    <revision pkgversion="2.1.9" date="2013-06-02" status="candidate"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <desc>Kép eltávolítása címkéből</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at ubuntu dot com</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Kép törlése</title>

  <p>A címkéhez társított képet eltávolíthatja a kép kijelölésével, majd <gui style="button">A kijelölt képek eltávolítása a címkéből</gui> gomb megnyomásával.</p>

  <p>Több kép eltávolításához előbb jelölje ki azokat.</p>

  <p>Lehetőség van az összes kép törlésére is több fájlból. Ehhez válassza ki a fájlokat, amelyekből törölni szeretné a képeket, törölje az összes képet a <gui style="tab">Kép</gui> lapon, majd nyomja meg <gui style="button">A kijelölt fájlok címkézése ezekkel a képekkel</gui> gombot.</p>

</page>
