<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="tag-capitalization" xml:lang="hu">

  <info>
    <link type="seealso" xref="scanner"/>
    <revision pkgversion="2.3.5" date="2015-03-26" status="candidate"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <desc>A címkék nagybetűsségének konzisztenssé tétele</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Kelemen Gábor</mal:name>
      <mal:email>kelemeng at ubuntu dot com</mal:email>
      <mal:years>2015.</mal:years>
    </mal:credit>
  </info>

  <title>Címkék konzisztens nagybetűsítése</title>

  <p>A címkék kis- és nagybetűssége több fájl több címkemezőjében is módosítható.</p>

  <steps>
    <title>Címkemezők nagybetűsségének módosítása</title>
    <item>
      <p>Jelölje ki a megcímkézni kívánt fájlokat.</p>
    </item>
    <item>
      <p>Válassza a <guiseq><gui style="menu">Nézet</gui> <gui style="menuitem">Feldolgozó megjelenítése</gui></guiseq> menüpontot.</p>
    </item>
    <item>
      <p>Válassza a <gui style="tab">Mezők feldolgozása</gui> lapot.</p>
    </item>
    <item>
      <p>Jelölje be a módosítandó mezőket.</p>
    </item>
    <item>
      <p>Számos lehetőség van a kis- és nagybetűsség módosítására, válasszon egyet.</p>
    </item>
    <item>
      <p>Alkalmazza a változtatásokat a <gui style="button">Fájlok vizsgálata</gui> gomb megnyomásával.</p>
    </item>
  </steps>

  <p>A <gui>Feldolgozó</gui> ablak használható a szóköz- és karakterátalakítások kezelésére is. Ha ezeket nem kívánja módosítani, akkor válassza az ennek megfelelő lehetőséget a <gui style="button">Fájlok vizsgálata</gui> gomb megnyomása előtt.</p>

</page>
