<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="guide" id="file-select" xml:lang="es">

  <info>
    <link type="guide" style="2column" xref="index#main"/>
    <revision pkgversion="2.1.9" date="2013-10-06" status="draft"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@gmail.com</email>
    </credit>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <desc>Elegir archivos en la lista</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Monica Canizo</mal:name>
      <mal:email>kamitdevica@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Seleccionar archivos</title>

  <p><app>EasyTAG</app> tiene varias características que operan en los archivos que están actualmente seleccionados en la lista de archivos. Para seleccionar múltiples archivos, puede mantener pulsado <key>Ctrl</key> mientras pulsa en los archivos que quiere seleccionar o puede seleccionar un archivo y después mantener presionado <key>Mayús</key> y pulse en otro archivo para seleccionar todos los archivos entre los dos, incluyendo el primer y último archivo.</p>

</page>
