<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="task" style="task" id="image-delete" xml:lang="es">

  <info>
    <link type="guide" xref="index#image"/>
    <revision pkgversion="2.1.9" date="2013-06-02" status="candidate"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <desc>Eliminar una imagen de una etiqueta</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Monica Canizo</mal:name>
      <mal:email>kamitdevica@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Eliminar una imagen</title>

  <p>Para eliminar una imagen de una etiqueta, seleccione y pulse el botón <gui style="button">Eliminar imágenes seleccionadas de la etiqueta</gui>.</p>

  <p>Para eliminar más de una imane, seleccione las imágenes antes de eliminarlas.</p>

  <p>También es posible eliminar todas las imágenes de más de un archivo. Para ello, seleccione los archivos de los que quiere eliminar las imágenes, elimine todas las imágenes de la pestaña <gui style="tab">Imagen</gui>, después pulse el botón <gui style="button">Etiquetar archivos seleccionados con estas imágenes</gui>.</p>

</page>
