<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" style="task" id="image" xml:lang="es">

  <info>
    <link type="guide" xref="index#image"/>
    <link type="guide" xref="tag"/>
    <revision pkgversion="2.1.9" date="2013-05-20" status="review"/>
    <revision pkgversion="2.2.0" date="2014-04-10" status="review"/>
    <revision pkgversion="2.3.5" date="2015-03-26" status="review"/>

    <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <credit type="author">
      <name>Ekaterina Gerasimova</name>
      <email its:translate="no">kittykat3756@googlemail.com</email>
    </credit>

    <desc>Añadir imágenes, como la carátula, a la etiqueta</desc>

  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Monica Canizo</mal:name>
      <mal:email>kamitdevica@gmail.com</mal:email>
      <mal:years>2016</mal:years>
    </mal:credit>
  </info>

  <title>Añadir una imagen a un archivo</title>

  <p>La mayoría de los formatos de archivo de sonido admiten un campo de etiqueta <sys>image</sys> que se puede usar para añadir la carátula y otras imágenes relacionadas con el archivo de sonido.</p>

  <p>Para añadir una imagen al archivo, seleccione el archivo, abra la pestaña <gui style="tab">Imágenes</gui> y presione el botón <gui style="button">Añadir imágenes a la etiqueta</gui>. Seleccione la imagen y confirme su selección.</p>

  <p>Una vez que la imagen esté subida, se marcará automáticamente como una carátula y la descripción será el nombre del archivo. Para cambiar el <gui>tipo</gui> y <gui>descripción</gui>, pulse el botón <gui style="button">Editar características de la imagen</gui>. Una vez que haya realizado los cambios, pulse <gui style="button">Aceptar</gui> para aplicar los cambios.</p>

  <note>
    <p>Sus cambios no se guardará automáticamente.</p>
  </note>

  <p>Puede etiquetar varios archivos con la misma imagen seleccionándolos en la lista de archivos, después seleccione la imagen y presione el botón <gui style="button">Etiquetar los archivos seleccionados con estas imágenes</gui>. Tendrá que guardar estos cambios para escribirlos en los archivos.</p>

  <p>Puede trabajar con más de una imagen a la vez seleccionando esas imágenes antes de editar, aplicar, guardar los archivos o eliminarlos.</p>

</page>
